<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">
            <img class="ms-1 me-2" src="favicon.ico" alt="Angular App" width="30">
            First Angular App
        </a>
        <div class="navbar-nav me-auto">
            <a class="nav-item nav-link active" routerLink="/registration">Add Registration</a>
            <a class="nav-item nav-link active" routerLink="/list-registration">List Registration</a>
            <a class="nav-item nav-link active" routerLink="/tmdb">The Movie Database</a>
        </div>
    </div>
</nav>